.container{
    width: 100%;
    height: 215px;
    background-color: yellow;
    border: 2px solid red;
}

.box{
    height: 212px;
    width: 212px;
    border: 2px solid magenta;
    background-color: aqua; 

    animation-name: kanha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-direction: normal;
}

@keyframes kanha{
    0%{
        width: 212px;
        background-color: aqua;
    }

    30%{
        width: 35%;
        background-color: aquamarine;
    }

    65%{
        width: 70%;
        background-color: blue;
    }

    100%{
        width: 100%;
        background-color: blueviolet;
    }
}

/* @keyframes kanha{
    from{
        width: 212px;
    }

    to{
        width: 800px;
    }
} */